{# Global Variable  #}
{% set teacherCount={'info':''} %}

{%- macro infobox(title, village, district, state, country, loInt, hiInt, medium, totalStudents, PIN, establishment) -%}
{{'{{Infobox school'}}
	{%- if is_valid(title) %}
	| name = {{title}}
	{%- endif %}
	{%- if is_valid(village) and is_valid(district) %}
	| city = {{village}}గ్రామం, {{district}}జిల్లా
	{%- elif is_valid(village) and not is_valid(district) %}
	| city = {{village}}గ్రామం
	{%- elif is_valid(district) and not is_valid(village) %}
	| city = {{district}}జిల్లా
	{%- endif %}
	{%- if is_valid(district) %}
	| district = {{district}}జిల్లా
	{%- endif %}
	{%- if is_valid(state) %}
	| state = {{state}}
	{%- endif %}
	{%- if is_valid(PIN |string) %}
	| zipcode = {{PIN}}
	{%- endif %}
	{%- if is_valid(establishment) %}
	| established = {{establishment}}
	{%- endif %}
	{%- if is_valid(country) %}
	| country = {{country}}
	{%- endif %}
	{%- if is_valid(loInt) and is_valid(hiInt) %}
    | grades_label = తరగతులు
	| grades = {{loInt}} - {{hiInt}}
	{%- endif %}
	{%- if is_valid(medium) %}
	| medium = {{medium}} 
	{%- endif %}
	{%- if is_valid(totalStudents) %}
	| students = {{totalStudents}}
	{%- endif %}
	{%- if is_valid(teacherCount.info) %}
    | free_label = ఉపాధ్యాయులు
	| free_text = {{teacherCount.info}}
	{%- endif %}
{{'}}\n'}}
{%- endmacro -%}

{%- macro intro(village, district, block, cluster, PIN, schToken, teMgnt) -%}
	{%- set line =[
			get_intro_line_1(village, district, block, cluster, schToken),
			get_intro_line_2(village, district, block, cluster, schToken)
		]|random
	-%}
	{{- line -}}
	{%- if is_valid(PIN) -%}
		{{- "ఈ పాఠశాల ఉన్న ప్రదేశం పిన్ కోడ్ " + PIN |string + ". " -}}
	{%- endif -%}
	{%- if teMgnt|length > 1 -%}
		{%- set line =[
				teMgnt+" నిర్వహణలో ఈ పాఠశాల పని చేస్తుంది. ",
				"ఇది "+teMgnt+" నిర్వహణలో పని చేస్తుంది. "
			]|random
		-%}
		{{line}}
	{%- endif -%}
{%- endmacro -%}

{%- macro classes(lo, hi, medium, extraDesc) -%}
	{%- if loInt==1 -%}
		{%- set line =[
				get_class_info(None, hi |string, medium, 'ఇక్కడ విద్యార్థులు ', 'విద్యను అభ్యసిస్తారు. '),
				get_class_info(None, hi |string, medium, 'ఇక్కడ విద్యార్థులకు ', 'బోధన చేస్తారు. '),
				get_class_info(None, hi |string, medium, 'ఇక్కడ విద్యార్థులకు ', 'చదువు చెప్తారు. ')
			]|random
		-%}
	{%- else -%}
		{%- set line =[
				get_class_info(lo |string, hi |string, medium, 'ఇందులో ', 'భోదించబడుతుంది. '),
				get_class_info(lo |string, hi |string, medium, 'ఇందులో విద్యార్థులు ', 'విద్యను అభ్యసిస్తారు. '),
				get_class_info(lo |string, hi |string, medium, 'ఇందులో ', 'చదువు చెప్తారు. ')
			]|random
		-%}
	{%- endif -%}
	{%- if extraDesc|length > 1 -%}
		{{extraDesc}} {{line}}
	{%- else -%}
		{{line}}
	{%- endif -%}
	{{- "\n" -}}
{%- endmacro -%}

{%- macro codeAndLocality(code, teMgnt, establishment, area, shifted_to_new_place, nearby_schools) -%}
==గుర్తింపు, స్థానం==
    {{- "\n" -}}
	{%- set line =[
			"ఈ పాఠశాల ఏకీకృత జిల్లా సమాచార విద్యా వ్యవస్థ ([http://udise.in/ U-DISE]) కోడ్ " + code + ". ",
			"ఏకీకృత జిల్లా సమాచార విద్యా వ్యవస్థ ఈ పాఠశాలకు నియమించిన కోడ్ " + code + ". "
		]|random
	-%}
	{{- line -}}
	{{- get_management_info(teMgnt, establishment) |random -}}
	{%- if is_valid(area) -%}
		{{- [
				"ఈ పాఠశాల " + area + " ప్రాంతానికి చెందినది. ", 
				area + " ప్రాంతం లో ఈ పాఠశాల ఉన్నది. "
			] |random -}}
	{%- endif -%}
	{%- if shifted_to_new_place -%}
		{{- [
				"ఈ పాఠశాల వేరే ప్రదేశానికి మార్చబడింది. ", 
				"ప్రస్తుతం ఈ పాఠశాల వేరే ప్రదేశానికి మార్చబడింది. "
			] |random -}}
	{%- endif -%}
	{%- if is_valid(nearby_schools) -%}
		{{- [
				"ఈ పాఠశాలకు సమీపంలో ఉన్న ఇతర పాఠశాలలు " + get_nearby_schools(nearby_schools) + ". ", 
				get_nearby_schools(nearby_schools) + " మొదలైన పాఠశాలలు ఈ పాఠశాలకు సమీపంలో ఉన్నవి. "
			]|random -}}
	{%- endif -%}
	{{- "\n" -}}
{%- endmacro -%}

{%- macro academicInfo(is_primary_section_available, board_for_class_10, board_for_class_10_2, meal, is_residential, residential_type) -%}
	{%- if is_primary_section_available -%}
		{{- [
				"ఈ పాఠశాల లో ప్రీ ప్రైమరీ తరగతులు ఉన్నవి. ", 
				"ఈ పాఠశాల లో ప్రీ ప్రైమరీ తరగతుల కలవు. "
			]|random -}}
	{%- else -%}
		{{- "ఈ పాఠశాల లో ప్రీ ప్రైమరీ తరగతులు లేవు. " -}}
	{%- endif -%}
	{{- get_board_info(board_for_class_10, board_for_class_10_2) |random -}}
	{{- "\n\n" -}}
	{%- if meal -%}
		{{- [
				"ఈ పాఠశాలలో మధ్యాహ్నం భోజనం అందించబడుతుంది. ", 
				"ఈ పాఠశాలలో విద్యార్థులకు మధ్యాహ్నం భోజన సౌకర్యము కలదు. "
			]|random -}}
	{%- else -%}
		{{- "ఈ పాఠశాలలో మధ్యాహ్నం భోజనం అందించబడదు. " -}}
	{%- endif -%}
	{{- get_residential_details(is_residential, residential_type) |random -}}
	{{- "\n" -}}
{%- endmacro -%}

{%- macro studentsCount(sType, bInt, gInt, bCount, gCount, totalStudents, endBCount, endGCount) -%}
	{{- "\n" -}}
	{%- set refLine = "2017-18 విద్యా సంవత్సరములొ నేషనల్ యూనివర్శిటీ ఆఫ్ ఎడ్యుకేషనల్ ప్లానింగ్ అండ్ అడ్మినిస్ట్రేషన్ ([https://www.indiaeducation.net/apexbodies/nuepa/ NUEPA]) జరిపిన సర్వే ఆధారముగా " -%}
	{%- if not is_valid(bInt) -%}
		{%-set bToken=''-%}
	{%- elif bInt==1 -%}
		{%-set bToken=bCount+' బాలుడు '-%}
	{%- else -%}
		{%-set bToken=bCount+' బాలురు '-%}
	{%- endif -%}
	{%- if not is_valid(gInt) -%}
		{%-set gToken=''-%}
	{%- elif gInt==1 -%}
		{%-set gToken=gCount+' బాలిక '-%}
	{%- else -%}
		{%-set gToken=gCount+' బాలికలు '-%}
	{%- endif -%}
	{%- if sType=='co-educational' -%}
		{%- set desc='ఇది బాల బాలికల పాఠశాల. ' -%}
		{%- set counts=get_students_info(refLine, bToken + gToken, totalStudents |string) |random -%}
	{%- elif sType=='boys' -%}
		{%- set desc=[
				'ఇది బాలుర పాఠశాల. ' ,
				'ఇక్కడ బాలురకు మాత్రమే ప్రవేశం ఉన్నది. ',
				'బాలురకు మాత్రమే ఇక్కడ ప్రవేశం ఉన్నది. '
			]|random
		-%}
		{%- set counts=get_gender_info(refLine, bToken, 'బాలుర', endBCount) |random -%}
	{%- elif sType=='girls' -%}
		{%- set desc=[
				'ఇది బాలికల పాఠశాల. ' ,
				'ఇక్కడ బాలికలకు మాత్రమే ప్రవేశం ఉన్నది. ',
				'బాలికలకు మాత్రమే ఇక్కడ ప్రవేశం ఉన్నది. '
			]|random
		-%}
		{%- set counts=get_gender_info(refLine, gToken, 'బాలికల', endGCount) |random -%}
	{%- else -%}
		{%- set counts='' -%}		
	{%- endif -%}
	{{desc}}{{counts}}
{%- endmacro -%}

{%- macro teachersCount(mInt, mCount, fInt, fCount, totalTeachers) -%}
	{%- if mInt==1 and (fInt==0 or not is_valid(fInt))-%}
		{%- set line='ఇది ఏకోపాధ్యాయ పాఠశాల. ఒక ఉపాధ్యాయుడు ఉన్నారు. ' -%}
		{% if teacherCount.update({'info': 'ఒక ఉపాధ్యాయుడు'}) %} {% endif %}
	{%- elif mInt>1 and (fInt==0 or not is_valid(fInt)) -%}
		{%- set line='ఇక్కడ '+mCount+' ఉపాధ్యాయులు ఉన్నారు. ' -%}
		{% if teacherCount.update({'info':mCount+' ఉపాధ్యాయులు'}) %} {% endif %}
	{%- elif (mInt==0 or not is_valid(mInt)) and fInt==1 -%}
		{%- set line='ఇది ఏకోపాధ్యాయ పాఠశాల. ఒక ఉపాధ్యాయిని ఉన్నారు. ' -%}
		{% if teacherCount.update({'info':'ఒక ఉపాధ్యాయిని'}) %} {% endif %}
	{%- elif (mInt==0 or not is_valid(mInt)) and fInt>1 -%}
		{%- set line='ఇక్కడ '+fCount+' ఉపాధ్యాయులు ఉన్నారు, వీరిలో అందరూ ఉపాధ్యాయినులే. ' -%}
		{% if teacherCount.update({'info':fCount+' ఉపాధ్యాయినులు'}) %} {% endif %}
	{%- else -%}
		{%- if not is_valid(mInt) -%}
			{%-set mToken=''-%}
		{%- elif mInt==1 -%}
			{%-set mToken=mCount+' ఉపాధ్యాయుడు '-%}
		{%- else -%}
			{%-set mToken=mCount+' ఉపాధ్యాయులు '-%}
		{%- endif -%}
		{%- if not is_valid(fInt) -%}
			{%-set fToken=''-%}
		{%- elif fInt==1 -%}
			{%-set fToken=fCount+' ఉపాధ్యాయిని'-%}
		{%- else -%}
			{%-set fToken=fCount+' ఉపాధ్యాయినులు'-%}
		{%- endif -%}
		{%- if is_valid(totalTeachers) -%}
			{% if teacherCount.update({'info':totalTeachers+' ఉపాధ్యాయులు'}) %} {% endif %}
		{%- endif -%}
		{%- set line=get_teacher_info(mToken + fToken, totalTeachers |string) |random -%}
	{%- endif -%}
	{{line}}
	{{- "\n" -}}
{%- endmacro -%}

{%- macro teacherPositions(pre_primary_teachers_count, head_teachers_count, head_teachers_name) -%}
	{{- get_pre_primary_teachers_info(pre_primary_teachers_count) |random -}}
	{{- get_head_teachers_info(head_teachers_count, head_teachers_name) |random -}}
	{{- "\n" -}}
{%- endmacro -%}

{%- macro infrastructure(building, class_rooms, boys_toilets, girls_toilets, electricity, drinking_water, wall, ramps_for_disabled, library, books_count, playground, computer_aided_learning, computers) -%}
{{- get_building_and_class_rooms_info(building, class_rooms) |random -}}
{{- get_toilet_info(boys_toilets, girls_toilets) |random -}}
{{- get_electricity_water_info(electricity, drinking_water) |random -}}
{{- get_wall_info(wall) |random -}}
{{- get_ramps_info(ramps_for_disabled) |random -}}
{{- get_library_and_books_info(library, books_count) |random -}}
{{- get_playground_info(playground) |random -}}
{{- get_computers_info(computer_aided_learning, computers) |random -}}
{%- endmacro -%}

{%- macro references(county, state, district, block, village, cluster) -%}
==మూలాలు== 
{{- "\n" -}}
* {{- " {{cite web |title =School Directory |url = http://schoolreportcards.in/SRC-New/SchoolDirectory/Directory.aspx |website = schoolreportcards.in }}" -}}
{{- "\n" -}}
* {{- " {{cite web|title=Mid Day Meals| url=https://apmdm.apcfss.in/MIDDAYMEALS17/mdmSchoolAttendanceMonthwise.htm| website=apmdm.apcfss.in}}" -}}
{{- "\n\n" -}}
[[వర్గం:తెవికి పాఠశాలలు]]
[[వర్గం:తెవికి పాఠశాలల నమూనాలు]]
[[వర్గం:పాఠశాలలు]]
[[వర్గం:విద్యాసంస్థలు]]
{%- if is_valid(country) %}
[[వర్గం:{{country}} లో పాఠశాలలు]]
[[వర్గం:{{country}} లో విద్యాసంస్థలు]]
{%- endif -%}
{%- if is_valid(state) %}
[[వర్గం:{{state}} లో పాఠశాలలు]]
[[వర్గం:{{state}} విద్యాసంస్థలు]]
{%- endif -%}
{%- if is_valid(district) %}
[[వర్గం:{{district}}జిల్లా పాఠశాలలు]]
[[వర్గం:{{district}}జిల్లా విద్యాసంస్థలు]]
{%- endif -%}
{%- if is_valid(block) %}
[[వర్గం:{{block}}లో పాఠశాలలు]]
[[వర్గం:{{block}}లో విద్యాసంస్థలు]]
{%- endif -%}
{%- if is_valid(cluster) %}
[[వర్గం:{{cluster}}లో పాఠశాలలు]]
[[వర్గం:{{cluster}}లో విద్యాసంస్థలు]]
{%- endif -%}
{%- if is_valid(village) %}
[[వర్గం:{{village}}లో పాఠశాలలు]]
[[వర్గం:{{village}}లో విద్యాసంస్థలు]]
[[వర్గం: రాండమైజేషన్ కోసం బహుళ పాఠశాలలు]]
{%- endif -%}
{%- endmacro -%}

{#- Article written from here -#}
{{- intro(village, district, block, cluster, PIN, schToken, teMgnt) -}}
{{- classes(lo, hi, medium, extraDesc) -}}
<$>
{{- codeAndLocality(code, teMgnt, establishment, area, shifted_to_new_place, nearby_schools) -}}
<$>
{{- academicInfo(is_primary_section_available, board_for_class_10, board_for_class_10_2, meal, is_residential, residential_type) -}}
<$>
{{- studentsCount(sType, bInt, gInt, bCount, gCount, totalStudents, endBCount, endGCount) -}}
{{- teachersCount(mInt, mCount, fInt, fCount, totalTeachers) -}}
{{- teacherPositions(pre_primary_teachers_count, head_teachers_count, head_teachers_name) -}}
<$>
{{- infrastructure(building, class_rooms, boys_toilets, girls_toilets, electricity, drinking_water, wall, ramps_for_disabled, library, books_count, playground, computer_aided_learning, computers) -}}
<$>
{{- references(county, state, district, block, village, cluster) -}}
<$>
{{- infobox(title, village, district, state, country, loInt, hiInt, medium, totalStudents, PIN, establishment) -}}
