{%- macro info(title, id, year, genre, actors, duration, country, original_title) -%}
	{%- set title_line=[
									title+ ' అనే చిత్రము యొక్క',
									'ఈ చిత్రము పేరు '+title+'. '

								] | random
	-%}
	{{title_line}} ఐ.ఎం.డి.బి. సంఖ్య ఇది: {{id}}.  ఈ చిత్రము {{year}} సంవత్స్తరం లొ విదుదల అయింది. ఈ చిత్రము {{genre}} షైలి కి చెందినది. ఈ చిత్రం లొ నటించిన నటులు {{actors}}. ఈ చీత్రం {{duration}} నిమీషాలు పొడుగు వుంది. ఈ చీత్రం {{country}} అనే దేసని చెండినది. ఈ చిత్రము యొక్క అసలైన పేరు ఇది: {{original_title}}.

{%- endmacro -%}

{%- macro crew(director, language, writer, production_company) -%}
	ఈ చిత్రానికి దర్శకుడు {{director}}. ఈ చిత్రము {{language}} భాష లో  రూపొందించారు. ఈ చిత్రన్ని {{writer}} అనే వ్యక్థి రచించారు. {{production_company}} సంస్థ అధ్వర్యంలో ఈ సినిమా తెరపైకి వచ్చింది.
{%- endmacro -%}

{%- macro numbers(avg_vote, budget) -%}
	ఎ చిత్రనికి గరిస్త రివ్యు {{avg_vote}}. 95% మంది ఎ చిత్రనికి 7.60 రివ్యు ఇచరు. ఈ చిత్రం నిర్మించదనికి అయిన కర్చు {{budget}}.
{%- endmacro -%}

{# Function Calls Below#}

{{- info(title, id, year, genre, actors, duration, country, original_title) }}

{{ crew(director, language, writer, production_company) }}

{{ numbers(avg_vote, budget) -}}